.cinematicats-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.card {
    border: 1px #000 solid;
    padding: 2rem 4rem;
    border-radius: .5rem;
}

.card__imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

.btn-wrap__item .btn-wrap__item{
    margin: 1.5rem;
}

