body {
    margin: 0;
    padding: 0;
}

/* header */
.header {
    
    &__nav {
        display: flex;
        justify-content: flex-end;
        padding-right: 0.5rem;
        gap: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        background-color: forestgreen;

        &-text-wrapper {
            font-size: 13px;
            align-self: center;
        }

        &-list {
            display: flex;
            justify-content: flex-start;
            gap: 1rem;
            list-style: none;
            padding-left: 0;
        }

        &-item {
        }

        &-link {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
            text-decoration: none;
            color: white;

            &:hover {
                color: #CCC;
                transition: 0.3s ease-in-out;
            }
        }
    }
}

/* footer */
.footer {
    &__bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4%;
        background-color: rgba(50, 182, 231, 0.362);        

        &-text {
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
            padding-left: 0.5rem;
        }

        &-copyright {
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 11px;
            padding-right: 0.5rem;
        }
    }
}